.container{
   height: 120vh;
    background-color: rgba(255, 255, 255, 0.863);
}
p{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    color: blue;
}