.container{
    margin-bottom: 250px;
   height: auto;
    background-color: rgba(241, 166, 166, 0.863);
}
p{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    color: blue;
}